1.What top 3 mistakes as a learner game programmer need to avoid 
Takes

2.If I want to join an international or I mean the head quarters of a game studio as a fresshe steps I need to take what should I keep in my mind and what as a game programmer the skills they mostly look for 

3.you have an experience of taking interview and giving them from both ends what goes the mind of an interviewer  while  the mistake as an interviewe you only for  techanical rounds